.image1{
    padding: 20px;
}
.main{
    padding: 20px;
}
.color {
    background-color: #C2DEDC;
    padding: 20px;
  }
.column-spacing {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}
.space{
    padding-bottom: 10px;
    padding: 5px; 
}
.dailyAdvice {
    background-color: lightgray;
    text-align: center;
}
.footer {
    background-color: lightgray;
    text-align: start;
    padding: 5px;
}
.footer a{
    text-decoration: none;
}
.border {
    padding: 3px;
}